.showcase {
  display: flex;
  width: 100%;
  height: 70vh;
  background: #ccc url("./img/showcase.jpg") no-repeat center center / cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}
.showcase__inner {
  position: relative;
  z-index: 2;
}
.showcase::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer {
  background-color: #333;
  color: #fff;
}
.push-footer {
  min-height: calc(100vh - 162px);
}
@media (max-width: 1024px) {
  .nav--custom {
    display: none;
  }
}
